version: 1
formatters:
  standard:
    format: '[%(asctime)s] [%(levelname)s] [%(name)s:%(lineno)d] - %(message)s'
  simple:
    format: '%(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: standard
    stream: ext://sys.stdout
  file:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: standard
    filename: ai_scout.log
    maxBytes: 10485760 # 10MB
    backupCount: 5
loggers:
  ai_scout: # Основной логгер для всего приложения
    level: DEBUG
    handlers: [console, file]
    propagate: no
root: # Обработка любого другого логгера, который не попадает в ai_scout
  level: INFO
  handlers: [console]